<h1>Contract Register</h1>

<kendo-grid options="$ctrl.gridOptions"></kendo-grid>

<!--
<ul>
<li 
    ng-repeat="hero in $ctrl.list" 
    hero="hero" 
    on-delete="$ctrl.deleteHero(hero)" 
    on-update="$ctrl.updateHero(hero, prop, value)">{{ hero.Title }}</li>


</ul>

<h1>kendo-list-view</h1>

<div kendo-list-view id="listView" k-data-source="$ctrl.source">
    <div class="hero" k-template>
        <h3 ng-click="$ctrl.openFormWindow(dataItem.Id)">{{ dataItem.Title }}</h3><span>{{ dataItem.Id}}</span>
    </div>
</div>

<div id="formWindow"></div>
-->
